<nav class="nav-sim">
    <img src="./img/common/logo-v-light.png" alt="stagetec" class="logo">
    <ul>
        <li><a href="#">STAGETEC</a></li>
        <li><a href="#">RIEDEL</a></li>
        <li><a href="#">代理产品</a></li>
        <li><a href="#">解决方案</a></li>
        <li><a href="#">技术支持</a></li>
    </ul>
     <div class="nav-wechat">
        <img src="./img/common/icon-wechat.png" alt="wechat">  
    </div>  
    <aside class="nav-aside">
        <a href="#">中文</a>
        <a href="#">EN</a>
    </aside>
</nav>